
.bond-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.bond-container h2 {
  font-size: 1.2rem;
}


.selected-date {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.DateCalendar {
  margin-top: 20px;
}

.no-bonds-message {
  margin-top: 10px;
  color: #999;
}

.bond-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}


.bond-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; 
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 20px;
}

.bond-box {
  flex: 0 0 calc(50% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px; 
  margin: 10px;
  box-sizing: border-box;
}



