.bond-card {
  background-color: skyblue;
  cursor: pointer;
  transition: all 0.3s;
}

.bond-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bond-card.expanded {
  height: 300px; /* Set an appropriate height when expanded */
}

.expand-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  transition: transform 0.3s;
}

.expand-arrow.expanded {
  transform: rotate(180deg);
}
